/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/************ End **************************/

:root {
  --prim-bright-orange: hsl(31, 77%, 52%);
  --prim-dark-cyan: hsl(184, 100%, 22%);
  --prim-very-dark-cyan: hsl(179, 100%, 13%);

  --neut-white: hsla(0, 0%, 100%, 0.75);
  --neut-light-gray: hsl(0, 0%, 95%);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: var(--neut-light-gray);
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 1.75em;
}

body,
h2,
.btn {
  color: var(--neut-light-gray);
}

p {
  color: var(--neut-white);
  line-height: 1.5;
}

section {
  padding: 1.75rem 2.2rem;
}

section:first-child {
  border-radius: 10px 10px 0 0;
}

section:last-child {
  border-radius: 0 0 10px 10px;
}

section > img {
  margin: 10px 0;
}

section > h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

section > .btn {
  margin: 20px 0;
}

.container {
  margin: 3.75rem 1.5rem;
}

.btn {
  display: inline-block;
  color: transparent;
  background-color: var(--neut-light-gray);
  border-radius: 50px;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--neut-light-gray);
}

.sedan {
  background-color: var(--prim-bright-orange);
}

.suv {
  background-color: var(--prim-dark-cyan);
}

.luxury {
  background-color: var(--prim-very-dark-cyan);
}

.orange {
  color: var(--prim-bright-orange);
}

.dark-cyan {
  color: var(--prim-dark-cyan);
}

.very-dark-cyan {
  color: var(--prim-very-dark-cyan);
}

.btn:hover {
  color: var(--neut-light-gray);
  background-color: transparent;
}

.attribution {
  color: var(--prim-very-dark-cyan);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  h2 {
    font-size: 2.25rem;
  }

  .container {
    display: flex;
    margin: auto 200px;
  }

  section > .btn {
    margin-top: 8rem;
  }
}
